---
interface Props {
  color?: "black" | "white";
  textAlign?: "center" | "left" | "right";
  fontWeight?: "normal" | "bold";
}
const { color = "black", textAlign = "center", fontWeight="bold" } = Astro.props;
---

<h3
  class={`block text-${textAlign} text-xl font-${fontWeight} leading-8 tracking-tight text-${color}`}
>
  <slot />
</h3>
