---
import Logo from "../../assets/logos/grafter-logo.svg";
---
<div class="w-full">
<div class="md:flex md:flex-1 items-center justify-between bg-white hidden py-6">
<div>
<a href="/">
<img 
src={Logo.src}
width="150"
alt="Labourers for hire UK"
class="ml-4"
/>
</a>
</div>

<a class="bg-brand-secondary rounded-lg hover:bg-brand-primary px-4 py-4 text-white  font-bold uppercase block mr-4 text-xl" href="https://www.grafternow.com/find-labourers">
   Find a Labourer
</a>


</div>

<div class="flex-1 items-center bg-white md:hidden py-4">
    <div>
    <img 
    src={Logo.src}
    width="100"
    alt="Labourers for hire UK"
    class="mx-auto"
    />
    </div>
    
    <a class="bg-brand-secondary rounded-lg hover:bg-brand-primary py-2 text-white uppercase text-center my-4 block mx-auto w-2/5 font-bold text-sm" href="https://www.grafternow.com/find-labourers">
      Find a Labourer
    </a>
    
    
    </div>
</div>