---
import Logo from "../../assets/logos/ccc-logo1.png";
---
<div class="w-full">
<div class="md:flex md:flex-1 items-center justify-between bg-white hidden py-6">
<div>
<a href="/">
<img 
src={Logo.src}
width="100"
alt="EPDM rubber roof"
class="ml-4"
/>
</a>
</div>

<a class="bg-gray-700 rounded-lg hover:bg-brand-primary px-4 py-4 text-white  font-bold uppercase block mr-4 text-xl" href="tel:08000209554">
   CALL NOW 0800 020 9554
</a>


</div>

<div class="flex-1 items-center bg-white md:hidden py-4">
    <div>
    <img 
    src={Logo.src}
    width="100"
    alt="EPDM rubber roof"
    class="mx-auto"
    />
    </div>
    
    <a class="bg-gray-700 rounded-lg hover:bg-brand-primary py-2 text-white uppercase text-center my-4 block mx-auto w-2/5 font-bold text-sm" href="tel:08000209554">
      CALL NOW 
    </a>
    
    
    </div>
</div>